@tailwind base;
@tailwind components;
@tailwind utilities;
.bg-img{
    background-image:url("../public/assets/images/png/bg-image.png") ;
}
.typewriter p {
    font-family: 'Courier New', Courier, monospace;
    font-size: 24px;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid black;
    /* Simulate the blinking cursor */
    width: fit-content;
    animation: blink 0.75s step-end infinite;
}

@keyframes blink {
    50% {
        border-color: transparent;
    }
}